.about {
  padding: 40px 20px;
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 150px;

  font-family: $quicksand;
  color: $black;

  h1 {
    font-size: 24px;
    margin: 10px 0;
  }

  #bold{
    font-weight: 800;
    font-family: $merienda;
    }

  p {
    font-size: 20px;
    line-height: 1.5rem;
    opacity: 90%;
    max-width: 100%;  margin: 20px auto;
  }

  h2 {
    font-size: 20px;
    margin: 40px 0 20px;
  }

  .developer-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    margin: 0 20px;
  }

  .profile-box {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%; 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-bottom: 10px;
      transition: transform 0.3s ease;
      background-color: #000000;

      &:hover {
        transform: scale(1.1);
      }
    }

    h3 {
      font-size: 18px;
      margin: 10px 0 5px;
      color: $black;
    }

    p {
      font-size: 14px;
      margin: 5px 0;
    }

    .contact {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 15px;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.2rem;
        color: $black;
        background-color: $white;

        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          color: $white;
          background-color:#00000042;
          transform: scale(1.1);
        }
        
        i{
          display: flex;
          margin: auto;
          text-align: center;
          align-content: center;
          color: #333;
        }
      }
    }
  }

  @media screen and (min-width: 576px) {
    h1 {
      font-size: 32px;
    }

    p {
      font-size: 20px;
      max-width: 600px;
    }

    h2 {
      font-size: 1.5rem;
    }

    .developer-container {
      flex-direction: row; 
      justify-content: center;
      max-width: 1200px;
      margin: 0px auto;
    }

    .profile-box {
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 40px;
    }

    p {
      max-width: 900px;
      font-size: 23px;
      line-height: 2rem;
    }

    h2 {
      font-size: 35px;
    }

    .profile-box {
      h3 {
        font-size: 25px;
        margin: 10px 0 5px;
        color: $black;
      }
  
      p {
        font-size: 20px;
        margin: 5px 0;
      }
    }
  }
}
