.genre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2{
        font-size: 21px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    p{
        font-size: 14px;
    }
  
    .genre-list {
      display: flex;
      justify-content: center;
      gap: 15px;
      flex-wrap: wrap;
      margin-top: 10px;
      width: 100%;
  
      .genre-item {
        position: relative;
        width: 140px;
        height: 80px;
        overflow: hidden;
        border-radius: 15px;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
  
        h3 {
          position: absolute;
          font-family: sans-serif;
          font-weight: 800;
          font-size: 20px;
          bottom: -20px;
          left: 50%;
          transform: translate(-50%, -50%);
          margin: 0;
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
        }

        &:hover{
            box-shadow: 0px 0px 30px #44643F;
        }
      }
    }
    
    #genre-detail {
        width: 300px;
        padding: 10px;
        border-radius: 15px;
        margin-top: 5px;
        border: none;
        box-shadow: 0 4px 8px #0000001a;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        z-index: 1000;
        border: 3px solid #f0b73b;
        font-family: sans-serif;

        h3{
            font-size: 21px;
        }

        hr {
            width: 85%;
            border: none;
            border-top: 2px solid #f0b73b;
            margin: 10px auto;
          }

        p{
            font-size: 14px;
        }
      }
      
      #close-detail-button {
        margin-top: 20px;
        padding: 10px 40px;
        border: none;
        background-color: #f0b73b;
        color: #fff;
        border-radius: 9px;
        cursor: pointer;
        font-size: 14px;

        &:hover {
            background-color: #FDCD69;
          }
      }
      
      .detail-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #00000080;
        z-index: 999;
      }

    @media screen and (min-width: 450px) {
        h2{
            font-size: 24px;
        }
    
        p{
            font-size: 17px;
        }

        .genre-list {
            gap: 17px;

            .genre-item{
                width: 180px;
                height: 120px;
    
                h3{
                    font-size: 20px;
                }
            }
        }
        #genre-detail {
            width: 350px;
            h3{
                font-size: 22px;
            }

            p{
                font-size: 14px;
            }
        }

    }

    @media screen and (min-width: 500px) {
        h2{
           font-size: 30px;
        }
        
        p{
           font-size: 20px; 
        }

        .genre-list {
            gap: 20px;

            .genre-item{
                width: 220px;
                height: 120px;
        
                h3{
                    font-size: 27px;  
                }
            }
        }

        #genre-detail {
            width: 420px;
            h3{
                font-size: 24px;
            }

            p{
                font-size: 16px;
            }
        }
    }
    
    @media screen and (min-width: 700px) {
        h2{
            font-size: 32px;
        }
    
        p{
            font-size: 24px; 
        }

        .genre-list {
            gap: 25px;

            .genre-item{
                width: 300px;
                height: 160px;

                h3{
                    font-size: 27px;  
                }
            }
        }

        #genre-detail {
            width: 480px;
            h3{
                font-size: 26px;
            }

            p{
                font-size: 18px;
            }
        }
    }

    @media screen and (min-width: 870px) {
        h2{
            font-size: 35px;
        }
    
        p{
            font-size: 27px; 
        }

        .genre-list .genre-item{
            width: 190px;
            height: 260px;

            h3{
                font-size: 27px; 
                bottom: 1px; 
            }
        }

        #genre-detail {
            width: 490px;
            h3{
                font-size: 28px;
            }

            p{
                font-size: 20px;
            }
        }
    }

    @media screen and (min-width: 1100px) {
        .genre-list .genre-item{
            width: 240px;
            height: 320px;
        }

        #close-detail-button {
            font-size: 18px;
        }
    }

    @media screen and (min-width: 1300px) {
        h2{
            font-size: 38px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    
        p{
            font-size: 28px;
            margin-bottom: 15px;   
        }

        .genre-list {
            gap: 35px;

            .genre-item{
                width: 270px;
                height: 350px;

                h3{
                    font-size: 35px;  
                }
            }
        }
    }
    
    @media screen and (min-width: 1400px) {
        h2{
            font-size: 45px;
        }
    
        p{
            font-size: 35px; 
        }

        .genre-list .genre-item{
                width: 300px;
                height: 380px;

                h3{
                    font-size: 40px;  
                }
        }
    }
}