navigation-bar {
  @include bar-container;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  color: $black;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.08);
  position: fixed;
  z-index: 100;
  font-family: $quicksand;
  top: 0;

  .nav-title {
    font-size: 24px;
    font-family: $merienda;
  }

  #drawer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: $white;
    color: $black;
    cursor: pointer;
    border: none;
    &:hover, 
    &:focus-visible {
      color: $green;
      outline: 3px solid $green;
    }
  }
    
  .nav-list {
    transform: translateX(120%);
    position: absolute;
    top: 70px;
    right: 0;
    width: 44%;
    background-color: $white;
    border-bottom-left-radius: 18px ;

    @media screen and (min-width: 600px) {
      top: 97px;
    }
      
    &.open {
      transform: translateX(0);
      transition: transform 0.4s ease-in-out;
    }
      
    ul {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;        
      li {
        text-align: left;
        a {
          display: block;
          padding: 25px;
          color: $black;
      
          width: 100%;
          font-size: 17px;
          font-weight: 200;
          
          &:hover, 
          &:focus {
            color: $yellow;
            font-weight: 800;
          }
        }
      }
    }
  }

  @media screen and (min-width: 590px) {
    .nav-list{
      width: 35%;
    }
  }

  @media screen and (min-width: 700px) {
    .nav-list{
      width: 30%;
    }
  }

  @media screen and (min-width: 870px) {
    .nav-title {
      margin-left: 3%;
    }
    
    #drawer {
      display: none;
    }
  
    .nav-list {
      transform: translateX(0);
      position: static;
      width: auto;
      display: flex;
      align-items: center;
      background-color: transparent;
      margin-right: 3%;
  
      ul {
        flex-direction: row;
        align-items: center;
        
        li {
          a {
            color: $black;
            text-align: center;
            padding: 18px;
            font-size: 22px;
            font-weight: 400;
  
            &:hover,
            &:focus {
              color: $black;
              background-color: $yellow;
              border-radius: 15px;
            }
          }
        }
      }
    }
  }
  
  @media screen and (min-width: 1100px) {
    .nav-title{
      font-size: 24px;
      margin-left: 15%;
    }
    .nav-list {
      margin-right: 15%;

      ul li {
      margin-left: 10px;
        a {
          font-size: 22px;
        }
      }
    }
  }

  @media screen and (min-width: 1400px) {
    .nav-title{
      margin-left: 10%;
      font-size: 30px;
    }
    .nav-list {
      margin-right: 8%;

      ul li{
        margin-right: 50px;
        margin-left: 0px;
        a{
          font-size: 28px;
          font-weight: 400;
          padding: 18px;
        }
      }
    }
  }

  @media screen and (min-width: 1600px) {
    .nav-title{
      margin-left: 15%;
    }
    .nav-list {
      margin-right: 10%;
    }
  }

#skip-link {
  position: absolute;
  left: -300px;
  text-align: center;
  background-color: $green;
  color: $white;
  padding: 10px 41px;
  z-index: 100;
  font-size: 30px;
  line-height: 40px; 
  font-family: $quicksand;
  &:focus,
  &:focus-visible {
    left: 0;
    top: 20px;
    outline: 3px solid $yellow;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: 1s;
  }
  &:active{
    color: $black;
    background-color: $white;
    outline: 3px solid $black;
  }
}
}