.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .hero_small {
    margin: 0 auto;
    width: 90%;
  }

  .hero_left {
    display: none;
  }

  .inner {
    text-align: center;
    gap: 20px;

    p {
      color: $black;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
    }

    h1 {
      color: $black;
      font-weight: bold;
      font-size: 50px;
      margin: 10px 0;
      font-family: $merienda;
    } 

    a {
      padding: 15px 23px;
      font-size: 25px;
      font-weight: 700;
      text-decoration: none;
      background-color: $yellow;
      color: $white;
      border-radius: 15px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      min-height: 44px;
      min-width: 44px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $white;
        transform: scale(1.05);
      }

      &:active {
        color: $yellow;
        background-color: $white;
        outline: 3px solid $yellow;
      }
    }

    a .material-symbols-outlined {
      margin-right: 7px;
      font-size: 30px;
    }
  }

  .hero_right {
    display: none;
  }

  @media screen and (min-width: 576px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 100px;
    gap: 20px;

    .hero_small {
      display: none;
    }

    .inner {
      text-align: start;
    }

    .hero_left {
      display: block;
      min-width: 250px;
    }
  }

  @media screen and (min-width: 1021px) {
    .inner {
      h1 {
        font-size: 55px;
      }

      p {
        font-size: 27px;
        min-width: 350px;
      }
    }

    .hero_right {
      display: block;
    }
  }

  @media screen and (min-width: 1100px) {
    .hero_left {
      min-width: 600px;
    }
  }

  @media screen and (min-width: 1300px) {
    gap: 70px;

    .hero_left {
      min-width: 800px;
    }

    .inner {
      h1 {
        font-size: 90px;
      }
      p {
        font-size: 30px;
      }
      a {
        font-size: 40px;
      }
      a .material-symbols-outlined {
        font-size: 35px;
      }
    }

    .hero_right {
      min-width: none;
      max-width: 100%;
      width: auto;
    }
  }
}
