.personality-box {
    background-color: lighten($yellow, 15%);
    justify-content: center;
    align-items: center;
    padding: 24px 10px;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .left {
            width: 60%;
            padding-right: 10px;
            flex-direction: right;

            h1 {
                font-size: 15px;
            }

            p {
                font-size: 12px;
                margin-top: 5px;
            }
        }

        .right {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: $white;
                font-family: $quicksand;
                font-weight: 300;
                font-size: 12px;
                border-radius: 10px;
                background-color: $green;
                padding: 15px 20px;
                min-width: 44px;
                min-height: 44px;
            }
        }
    }

    @media screen and (min-width: 375px) {
        .container {
            .left {
                padding-right: 1.5em;

                h1 {
                    font-size: 20px;
                }

                p {
                    font-size: 12px;

                }
            }

            .right {
                a {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }

    @media screen and (min-width: 500px) {
        .container {
            .left {
                padding-right: 2em;

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 15px;

                }
            }

            .right {
                a {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
    }

    @media screen and (min-width: 720px) {
        padding: 40px 10px;

        .container {
            .left {
                width: 55%;
                padding-right: 3em;

                p {
                    font-size: 18px;

                }
            }

            .right {
                a {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }

    @media screen and (min-width: 920px) {
        .container {
            .left {
                width: 50%;
                padding-right: 6em;
                p {
                    font-size: 25px;

                }
            }

            .right {
                a {
                    font-size: 25px;
                    font-weight: 600;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {
        .container {
            .left {
                width: 50%;
                padding-right: 3em;
                p {
                    font-size: 30px;

                }
            }

            .right {
                a {
                    font-size: 30px;
                    font-weight: 600;
                }
            }
        }
    }

    @media screen and (min-width: 1400px) {
        .container {
            .left {
                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 30px;

                }
            }

            .right {
                a {
                    font-size: 30px;
                    font-weight: 600;
                }
            }
        }
    }
}