.personality-test {
    margin: 0;
    padding: 0;
    height: 115svh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url("../public/images/heros/hero-right.png");
    background-color: $light-green;

    @media screen and (min-width: 480px) {
        height: fit-content;
    }

    .test-container {
        width: 90%;
        min-height: 200px;
        padding: 20px;
        margin: 120px auto 50px auto;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border-radius: 10px;
        max-width: 1000px;
        
        h1 {
            position: relative;
            font-size: 2em;
            margin: 0 auto;
            top: -20px;
            text-align: center;
            padding: 10px;
            background-color: $black;
            border-radius: 0px 0px 20px 20px;
            color: $white;
            max-width: 600px;
        }

        .question-box {
            width: 70%;
            margin: 0 auto;

            .question {
                font-size: 1.5em;
                margin: 0;
                padding: 20px 0;
                display: flex;
            }

            .options {
                margin: 0 auto;
                height: fit-content;

                .option {
                    display: flex;
                    margin: 16px 0;
                    padding: 10px;
                    min-height: fit-content;
                    align-items: center;
                    border: 2px solid rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    font-size: 0.75rem;

                    cursor: pointer;

                    span {
                        margin-left: 10px;
                    }

                    &:hover,
                    &:focus,
                    &:focus-within {
                        color: $white;
                        background-color: lighten($light-green, 10%);
                        font-weight: 800;
                    }
                    @media screen and (min-width:480px) {
                        font-size: 1.2em;
                    }
                }
            }

            .next {
                font-family: $quicksand;
                background-color: $yellow;
                color: $white;
                border: none;
                padding: 15px 20px;
                border-radius: 10px;
                cursor: pointer;
                min-width: 44px;
                min-height: 44px;
                font-size: 25px;
                font-weight: 600;
                display: flex;
                justify-content: flex-end;
                margin-top: 20px;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

                &:hover,
                &:focus,
                &:focus-visible {
                    box-shadow: #1e1e1e;
                    background-color: $dark-yellow;
                }

                &:disabled {
                    background-color: lighten($yellow, 20%);
                    cursor: not-allowed;
                }
            }
        }

        .result {
            max-width: 1000px;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            display: flex;

            .highlight {
                background-color: $yellow;
                padding: 10px;
                text-align: center;
                border-radius: 10px;
                font-size: 1rem;
                max-width: 500px;
                margin: 0 auto;
            }

            .desc {
                margin-top: 20px;
                font-size: 0.75rem;
            }

            .main-button {
                background-color: $green;
                padding: 10px 20px;
                border-radius: 10px;
                min-width: 44px;
                min-height: 44px;
                list-style: none;
                color: $white;
                font-family: $quicksand;
                font-size: 20px;
                font-weight: 600;
                display: inline-block;
                margin-top: 20px;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

                &:hover{
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    scale: (1.03);
                }

                @media screen and (min-width: 920px) {
                    font-weight: 600;
                    font-size: 25px;
                    padding: 20px 30px;
                }
            }

            @media screen and (min-width: 480px) {
                .highlight {
                    font-size: 1.5rem;
                }
                .desc,
                p {
                    font-size: 1rem;
                }
            }
            @media screen and (min-width: 768px) {
                .highlight {
                    font-size: 2rem;
                }
                .desc,
                p {
                    font-size: 1.5rem;
                }
            }
        }

        @media screen and (min-width: 600px) {
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 90%;
            padding: 20px;
            margin: 120px auto 0 auto;
        }

        @media screen and (min-width: 1300px) {
            width: 85%;
        }
    }
}